{% extends 'homepage.html' %}

{% block titulo %} 
Perfil - {{usuario.username}} 
{% endblock %}

{% block body %}  
<body>

{% include 'navbar.html' %}


    
{% if form %}

<div class="container">
      

    <form class="bloco-add-img" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
      <h2>{{ usuario.username }} - eviar foto</h2>

      <div class="bloco-arquivo">
        <label for="foto" class="botao-arquivo">
          Escolher arquivo
          {{ form.foto(class="input-arquivo", id="foto" ) }}
        </label>
        <span id="imagem-arquivo" class=""></span>
      </div>

      {{ form.botao_confirmacao(class="botao-login") }}
    </form>
</div>
{% else %}
<div class="bloco-add-img">
    <h2> Perfil de: {{ usuario.username }}</h2>
</div>
{% endif %}


    
    
<div class="conteudo">
{% for foto in usuario.fotos %}
        <div class="bloco-imagem">
          <img src=" {{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" />
        </div>
        {% endfor %}
</div>


<script>
    let input = document.getElementById("foto");
    let imagemArquivo = document.getElementById("imagem-arquivo");

    input.addEventListener("change", () => {
      let inputImagem = document.querySelector("input[type=file]").files[0];

      imagemArquivo.classList.add("visivel");
      imagemArquivo.innerText = inputImagem.name;
    });
  </script>


</body>
{% endblock %}


<!-- a pasta que vi ficar as fotos elas tem que ser chamada de static, por padrao o pyton usa esse nome como referenci a msm coisa do templates.
entao na imagem vamos usar tbm o url_for para pegar o link no caso sera o link da pasta onde ta a imagem, e vamos passar como parametro o nome da imagem : <img src=" {{ url_for('static', filename= 'default.png') }}" alt="">
-->











